.radio {
    margin-right: 5px;
    color: black;
}

.radio::before {
    background-color: black;
}


.radio:checked::before {
}

.label {
    display: flex;
    margin-bottom: 20px;
}

.options {
}
