.item {
    border-bottom: 2px solid #E5E5E5FF;
}

.item:last-of-type {
}

.users {
    border-collapse: collapse;

}

.buttonsContainer {
    display: flex;
    align-self: end;
    gap: 15px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.thead {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    height: 40px;
    color: #000000;
    background: #E5E5E5;
    width: 40vw;
}

.nameCol {
    padding: 10px;
}

.ageCol {

}